---
interface Props {
  youtube_id: string;
  title: string;
}

const { youtube_id, title } = Astro.props;
---

<div class="relative w-full aspect-video rounded-lg overflow-hidden mb-10 border border-cream-dark">
  <span class="absolute top-0 left-0 w-6 h-6 border-t-2 border-l-2 border-gold/30 rounded-tl-lg z-10 pointer-events-none"></span>
  <span class="absolute bottom-0 right-0 w-6 h-6 border-b-2 border-r-2 border-gold/30 rounded-br-lg z-10 pointer-events-none"></span>
  <iframe
    src={`https://www.youtube-nocookie.com/embed/${youtube_id}`}
    title={title}
    class="absolute inset-0 w-full h-full"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    loading="lazy"
  ></iframe>
</div>
<div class="h-[3px] bg-gradient-to-r from-gold/40 via-gold/20 to-transparent mt-4"></div>
